// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue-color: #040491;
$green-color: #00cf80;
$orange-color: #f77f00;
$pink-color: #ff477e;
$white-color: #ffffff;
$heading-color: #2a2a2a;
$text-color: #515151;

