// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Variables
@import 'variables';

// TailwindCSS
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    width: 100%;
    min-height: 100vh;
}

body {
    background: $body-bg;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
}
