// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

// Variables
@import 'variables';

// TailwindCSS
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
    width: 100%;
    min-height: 100vh;
}

body {
    background: $body-bg;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
}

/* Estilização das tabs */

ul.tabs-component-tabs {
    margin: 48px 0;
    border-bottom: 1px solid #e0e0e0;

    display: flex;
    gap: 24px;
}

div.tabs-component-panels {
    min-height: 220px;
}

a.tabs-component-tab-a {
    color: #e0e0e0;
    transition: all 0.2s;

    &.is-active {
        color: $green-color;
        font-weight: 700;

        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 2px;
            background: $green-color;
        }
    }
}

/* Fim estilização das tabs */
